extends layout

block content
  h1= title
  p Buscador de Tweets
  div(style="text-align: center")
    p Introduzca el tema a buscar
    input(label="Introduzca el tema a buscar")
  div.messages#visor(style="width: auto; height:400px; border: 1px solid black; overflow-y: auto; margin-top: 2em")
    ul#messages


