@import "nib";

azul = #006971

body 
	padding 50px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif;
h1
	color azul
a 
	color #00B7FF
ul.twits
	margin-right 2.5em
	// list-style-image url('/images/twitter.png')
li
	list-style-type none
.twit-egg
	width 32px
	padding-right 2em
	
.is-active
	display block
	background #A5DF00

.is-inactive
	display none
	
.status
	text-align center

.indicator
	border 1px solid black
	text-align center
	width 200px;
